html, body {
  height: 100%;
  margin: 0;
  padding: 0;
 
}


.menu-header {
    position: relative;
    background: rgba(255, 255, 255, 0.05); 
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    overflow: hidden;
  }
  
  .melting-wave {
    position: absolute;
   top:0;
    left: 40%;
    right: -9%;
    width: 59%;
    height: 700px;
    transform: translateY(10px); /* Déplacer vers le bas de 10px */
    background: orange;
    opacity: 0.4;
    border-radius: 60px; /* Arrondi sur les 4 coins */
    animation: wave-slide 3s ease-in-out infinite;
    z-index: 0;
  }
  
    
  @keyframes wave-slide {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
  }
  body {
    margin: 0;
    font-family: sans-serif;
    background: #FFE0A3;
   margin:0;
   flex-direction: column;
   justify-content: flex-start;
   display: relative;
    font-family: 'Playfair Display', serif;
  }
* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.remy{ 
  left:20%;
  width:57px;
  height:auto;
  top: 10px;
  left: 0;
 position: absolute;
  animation: runacross 4s  forwards;
}
@keyframes runacross{ 
  0%{ 
    transform: translateX(-50px);
  }
  100%{ 
   transform:translateX(90vw);
  }
}

nav a:hover{ 
 
color:orange;
border-radius: 0.5rem;

}
.nav-links{ 
  display: flex;
position: relative;
padding:10px 15px;
}
.nav-links, .dropdown li{ 
  list-style: none;
  padding:0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;

}  
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:#FFD87C;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  box-shadow: 0 2px 5px rgba(115, 113, 113, 0.2);
  z-index: 1000;
  border-radius: 0.5rem;
}

/* Afficher le menu au survol de .services */
.services:hover .dropdown {
  display: block;
}

/* Style des liens dans le dropdown */
.dropdown li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

.dropdown li a:hover {
  background-color: rgba(255, 224, 163, 0.4) ;
}
.dropdown li a:active
{ background-color: #ffa500;
}
.material-icons {
  font-size: 18px;
  vertical-align: middle;
}
ul {
width: 100%;
  display: flex;                    
  justify-content: space-between;   
 
};
ul li{ 
  flex:1;
  text-align: center;
}
ul a { 
 display: block;
  padding: 35px;
}
nav a{ 
  text-decoration: none;
  color: black;
  font-family: 'Playfair Display', serif;

}



div.logo img{ 
opacity:0.9;
}

header{ 
  display: flex;
  align-items: center;
  padding:15px 30px;
  background-color: rgba(220, 220, 220, 0.15); 
      backdrop-filter: blur(12px); 
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
      position:relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}
.phrase{ 
   text-align: left; 
   margin:10%;
   font-size: 30px;
 font-weight: bold;
 text-align: center;
}
div.slogan{ 
  background-color: rgba(255, 165, 0, 0.5); 
  border: 1px solid rgba(200, 150, 80, 0.5);
  padding: 20px;
  border-radius: 8%;
  backdrop-filter: blur(12px);
  height:40%;
  width:30%;
 margin-top: 70px;
 margin-left: 30px;

}
img.remyss{ 
  
  margin-top: -35%;
margin-left: 50%;
width:40%;
}


  .submit{
    position: fixed;
    left: 27%;
bottom: 20px;

        background: #FFD87C;
        color: black;
        padding: 15px 30px; 
        font-size: 20px; 
        border: none; 
        border-radius: 10px;
        cursor: pointer; 
        transition: all 0.3s ease;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
    } 
        .submit:active {
            background:orange;
            transform: scale(1.2); 
            box-shadow: 0 0 15px #ffa500;
        }

       
        .submit:hover {
            background:orange;
        }
        
h3{ 
  font-size: 28px;
  text-align: center;
}
.footer-content p{ 
width:190px;
margin:auto;
padding:7px;

}
.footer-content ul{ 
  text-align:center;
}
.list{ 
  padding:0;
  text-align: center;
  display: block;
  margin: 0;
}
.list li{ 
width: auto;
display: block;
  flex-direction: column;
  list-style-type: none;
  position: relative;
}
ul{ 
  list-style: none;
  padding: 0;
}

.social-icons{ 
  text-align: center;
  padding:0;
}
.social-icons li{ 
  display: inline-block;
  text-align: center;
  padding:5px;

}
.social-icons i{ 
  color: white;
  font-size: 25px;
}
a{ 
  text-decoration: none;
  color: black;
  
}
a:hover{ 
  color: #ffa500;
}
.social-icons i:hover{ 
  color: #FFD87C;
}
.bottom-bar{ 
  background-color: rgba(255, 216, 124, 0.4); /* Plus lisible mais toujours transparente */
  backdrop-filter: blur(12px);
  text-align: center;
  padding: 10px 0;
}
.bottom-bar p{ 
  color:#ffa500;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgba(220, 220, 220, 0.15); 
  backdrop-filter: blur(12px); 
}
.footer-content {
  flex: 1 1 10%; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 10px;
font-weight: bold;
}