header{
    background-color: rgba(220, 220, 220, 0.15); 
    backdrop-filter: blur(12px); 
}
* {
    box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body{ 
        background-color:#FFE0A3;
        font-family: 'Playfair Display', serif;
    }
    .legumes{ 
        width: 90px;
        margin-left: 80%;
    }
    .story {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: rgba(255, 165, 0, 0.2);
        border-radius: 8px;
        margin: 20px;
        width: 80%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .container {
        max-width: 50%;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .story h2 {
        font-size: 2em;
        color: #D66B00;
        text-align: center;
    }
    .dish-image-left {
        max-width: 200px;
        height: auto;
        border-radius: 8px;
        margin-left: 20px;
    }
    
   
    .dish-image-right {
        max-width: 200px;
        height: auto;
        border-radius: 8px;
        margin-left: 20px;
    }
    .back-button{
        background-color: rgba(255, 165, 0, 0.5); /* transparent orange */
        color: #fff;
        border: none;
        padding: 12px 24px;
        font-size: 16px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        margin-top: 50px;
        margin-left: 45%;
        margin-bottom: 50px;
    }
    .back-button:hover {
        background-color: #ffa500; /* solid orange on hover */
        transform: scale(1.05);
    }
    footer {
        text-align: center;
        padding: 15px;
        background-color: rgba(255, 165, 0, 0.2);
        border-top: 2px solid #FFDB8C;
    }
    
    footer p {
        font-size: 1em;
       font-weight: bolder;
    }
    